@import "mixins.scss";
@import "variables.scss";
@import "reset.scss";

@import "header.scss";
@import "footer.scss";
@import "generic.scss";
@import "gallery-section.scss";
@import "custom.scss";













