#footer{
  .footer-top{
    background-color: #1e2631;
    padding: 30px 0;
  }
  .footer-logo{
    float: left;
    width: 330px;
    img{
      @include responsive-image();
    }
  }
  .footer-column{
    float: left;
    max-width: 380px;
    padding: 0 60px;
    h6{
      color: rgba(246, 247, 251, 0.8);
      @include font(32px, 35px);
      font-weight: bold;
      margin: 0 0 20px;
    }
    p{
      color: #bbb;
      @include font(24px, 28px);
      font-weight: 500;
      margin: 0 0 20px;
    }
  }




  .footer-bottom{
    text-align: center;
    background-color: #24272e;
    padding: 30px 0;
    p{
      color: rgba(246, 247, 251, 0.5);
      @include font(17px, 21px);
      font-weight: 100;
      letter-spacing: 1px;
    }
    a{
      color: rgba(246, 247, 251, 0.5);
      &:hover{
        color: #fd1812;
      }
    }
  }
}





