#header {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  .header-top {
    background-color: #1e2631;
    padding: 8px 0;
  }
  .header-bottom {
    padding: 8px 0;
  }
  .logo{
    float: left;
    width: 130px;
    @include anim(0.5s);
    &:hover{
      opacity: 0.7;
    }
    a{
      display: block;
    }
    img{
      @include responsive-image;
    }
  }
  #main-nav{
    float: right;
    margin: 28px 0 0;
    ul{
      li{
        float: left;
        &:hover{
          a{
            color: #fff;
            background-color: #fd1812;
          }
        }
        &.active{
          a{
            color: #fff;
            background-color: #fd1812;
          }
        }
      }
      a{
        display: block;
        color: #1e2631;
        @include font(24px, 28px);
        border-radius: 5px;
        padding: 17px 20px;
        @include anim(0.5s);
      }
    }
  }
}