#header {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  .header-top {
    background-color: #1e2631;
    text-align: right;
    padding: 8px 0;
    dl{
      @include display(inline-block, middle);
      color: #fff;
      @include font(15px, 18px);
      margin-left: 60px;
    }
    dt{
      @include display(inline-block, middle);
      margin-right: 30px;
    }
    dd{
      @include display(inline-block, middle);
      a{
        display: block;
        color: #fff;
        @include anim(0.5s);
        &:hover{
          color: #fd1812;
        }
      }
      strong{
        @include display(inline-block, middle);
        border: 3px solid #fd1812;
        border-radius: 50%;
        background-color: #fff;
        height: 20px;
        width: 20px;
        padding: 2px;
        margin-right: 5px;
        svg{
          display: block;
          color: #fd1812;
          height: 100%;
          width: 100%;
        }
      }
      span{
        @include display(inline-block, middle);
      }
    }
  }
  .header-bottom {
    padding: 8px 0;
  }
  .logo{
    float: left;
    width: 130px;
    @include anim(0.5s);
    &:hover{
      opacity: 0.7;
    }
    a{
      display: block;
    }
    img{
      @include responsive-image;
    }
  }
  #main-nav{
    float: right;
    margin: 28px 0 0;
    ul{
      li{
        float: left;
        &:hover{
          a{
            color: #fff;
            background-color: #fd1812;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
          }
        }
        &.active{
          a{
            color: #fff;
            background-color: #fd1812;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
          }
        }
      }
      a{
        display: block;
        color: #1e2631;
        @include font(24px, 28px);
        border-radius: 5px;
        padding: 17px 20px;
        @include anim(0.5s);
      }
    }
  }
}