@media screen and (max-width: 1920px){
	.container{
		max-width: 1368px;
	}
}

@media screen and (max-width: 1600px){
	.container{
		max-width: 1200px;
	}
}

@media screen and (max-width: 1200px){
	.container{
		max-width: 990px;
	}
}



