


/*!*belt page css start*!*/
/*.belt-section {*/
/*float: left;*/
/*width: 100%;*/
/*margin: 70px 0 0 0;*/
/*}*/
/*.belt-section h1 {*/
/*font-size: 31px;*/
/*text-align: center;*/
/*width: 100%;*/
/*margin: 0; */
/*float: left;*/
/*padding-bottom: 35px;*/
/*}*/
/*.belt-box {*/
/*float: left;*/
/*width: 170px;*/
/*text-align: center;*/
/*background: #fff;*/
/*margin-right: 80px;*/
/*padding: 20px 0 0;*/
/*margin-bottom: 30px;*/
/*}*/
/*.belt-text-box h5 {*/
/*color: #1E2631;*/
/*font-size: 15px;*/
/*margin: 0;*/
/*width: 100%; */
/*padding: 20px 0;*/
/*font-weight: 300;*/
/*}*/
/*.belt-text-box {*/
/*width: 170px;*/
/*text-align: center;*/
/*background: #fff;*/
/*padding: 0px 0 0;*/
/*margin: 0px auto;*/
/*overflow: hidden;*/
/*height: 65px;*/
/*box-shadow: 0px 0px 5px 0px #00000021;*/
/*}*/

/*.blet-iner-box {*/
/*float: left;*/
/*width: 100%;*/
/*margin-bottom: 15px;*/
/*}*/

/*.blet-iner-box img {*/
/*  width: 90px;*/
/*height: 90px;*/
/*}*/
/*.last-belt-box { */
/*width: 170px;*/
/*text-align: center;*/
/*background: #fff; */
/*padding: 20px 0 0;*/
/*margin: 30px auto;*/
/*overflow: hidden;*/
/*}*/

/*.intent-section {*/
/*overflow: hidden;*/
/*width: 430px;*/
/*text-align: center;*/
/*margin: 0 auto;*/
/*padding: 30px 0;*/
/*}*/

/*.intent-section h1 {*/
/*font-size: 31px;*/
/*text-align: center;*/
/*width: 100%;*/
/*margin: 0;*/
/*float: left;*/
/*padding-bottom: 35px;*/
/*}*/
/*.form-section {*/
/*overflow: hidden;*/
/*width: 680px;*/
/*text-align: center;*/
/*margin: 0 auto;*/
/*padding: 30px 0;*/
/*}*/
/*.form-section h1 {*/
/*font-size: 31px;*/
/*text-align: center;*/
/*width: 100%;*/
/*margin: 0;*/
/*float: left;*/
/*padding-bottom: 35px;*/
/*}*/

/*belt page css end*/




/*principle page css start*/

/*.main-principle-box {*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin: 40px 0;*/
/*}*/
/*.principle-box {*/
/*    float: left;*/
/*    width: 100%;*/
/*}*/
/*.principle-box h1 {*/
/*    font-size: 35px;*/
/*    margin: 0;*/
/*    padding: 20px 0 15px;*/
/*    float: left;*/
/*    width: 100%;*/
/*}*/
/*.principle-box p {*/
/*    float: left;*/
/*    width: 670px;*/
/*    margin: 0;*/
/*    padding: 10px 0;*/
/*    line-height: 26px;*/
/*    font-size: 14px;*/
/*    color: #1E2631;*/
/*}*/
/*.principle-box img {*/
/*    float: right;*/
/*    width: 500px;*/
/*    text-align: right;*/
/*    margin-top: -140px;*/
/*}*/
/*.student-box {*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin: 40px 0;*/
/*}*/
/*.student-left-box {*/
/*    float: left;*/
/*    width: 45%;*/
/*}*/
/*.student-left-box img {*/
/*    width: 100%;*/
/*}*/
/*.principle-box .youtube-holder {*/
/*    width: 500px;*/
/*}*/
/*.student-right-box {*/
/*    float: left;*/
/*    width: 55%;*/
/*}*/
/*.student-right-box h1 {*/
/*    float: left;*/
/*    width: 100%;*/
/*    font-size: 35px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.student-data {*/
/*    float: left;*/
/*    width: 100%;*/
/*    padding: 20px 0;*/
/*}*/
/*.student-data ul {*/
/*    float: left;*/
/*    width: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
/*.student-data li {*/
/*    float: left;*/
/*    width: 50%;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*    padding: 10px 0;*/
/*}*/
/*.student-data ul li img {*/
/*    float: left;*/
/*    width: 25px;*/
/*    transform: rotate(221deg);*/
/*}*/
/*.student-data p {*/
/*    float: left;*/
/*    margin: 0;*/
/*    padding: 0 15px;*/
/*    width: 82%;*/
/*    font-size: 14px;*/
/*    line-height: 22px;*/
/*    color: #1E2631;*/
/*}*/
/* */
/*.our-vision-box {*/
/*    float: left;*/
/*    width: 100%; */
/*    margin-bottom: 60px;*/
/*}*/
/*.vision-first-row {*/
/*    float: left;*/
/*    width: 100%; */
/*}*/
/*.vision-box {*/
/*    background: #fff;*/
/*    float: left;*/
/*    padding: 11px;*/
/*    width: 282px;*/
/*    margin-right: 14px;*/
/*    box-shadow: 0px 20px 30px 0px rgba(253, 24, 18, 0.251);*/
/*   filter: drop-shadow(20px 20px 50px rgba(253, 24, 18, 0.251)); */
/*   height: 140px;*/
/*    margin-bottom: 30px;*/
/*    text-align: center;*/
/*}*/
/*.vision-box img {*/
/*    width: 40px;*/
/*    display: inline-block;*/
/*}*/
/*.vision-box h6 {*/
/*    font-size: 16px;*/
/*    font-weight: 300;*/
/*    float: right;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    padding: 5px 0;*/
/*    text-align: center;*/
/*}*/
/*.vision-box p {*/
/*    float: left;*/
/*    margin-top: 0;*/
/*    padding: 0;*/
/*    font-size: 15px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    color: #1E2631;*/
/*}*/
/*.vision-2nd-row {*/
/*    margin: 0 auto;*/
/*    overflow: hidden;*/
/*    width: 874px;*/
/*}*/
/*.vision-3rd-row {*/
/*    float: left;*/
/*    width: 100%;*/
/*} */

/*principle page css end*/
/*index page css start*/
.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 860px;
}
.caption {
    float: left;
    width: 100%;
    margin: 60px 0;
}
.caption h1 {
    font-size: 65px;
    color: #fff;
    line-height: 95px;
    margin: 0;
    float: left;
    width: 100%;
}
.welcome {
    font-size: 60px !important;
    color: #FD1812 !important;
    font-weight: 300 !important;
    margin: 0;
    padding: 20px 0;
    float: left;
    width: 100%;
}
.caption p {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    float: left;
    width: 100%;
    font-weight: 300;
}
.caption p span {
    color: #FD1812 !important;
}
.index-gallery {
    float: left;
    width: 100%;
}
.about-box {
    float: left;
    width: 100%;
    text-align: center;
}
.about-box {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
.about-box h6 {
    border-bottom: 2px solid #0E2B89;
    margin: 0 auto;
    overflow: hidden;
    width: 206px;
    font-size: 50px;
    font-weight: 300;
    color: #292F39;
}
.about-box p {
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 15px 0 0;
    line-height: 25px;
    font-weight: 300;
}
.about-box ul {
    float: left;
    width: 100%;
    margin: 50px 0;
    padding: 0;
}

.about-box ul li {
    float: left;
    width: 33%;
    list-style: none;
    text-align: left;
    padding: 10px 0;
}
.about-box ul li img {
    float: left;
    width: 20px;
    transform: rotate(210deg);
}
.about-box ul li p {
    float: left;
    width: 90%;
    padding: 0 10px;
    font-size: 15px;
    line-height: 16px;
}
.offer-section {
    float: left;
    text-align: center;
    width: 100%;
}
.offer-section h6 {
    border-bottom: 2px solid #0E2B89;
    margin: 0 auto;
    overflow: hidden;
    width: 346px;
    font-size: 50px;
    font-weight: 300;
    color: #292F39;
}

.offer-section p {
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 15px 0 0;
    line-height: 25px;
    font-weight: 300;
}
.services-first-row {
    float: left;
    width: 100%; 
}
.services-box {
    float: left;
    background: #fff;
    box-shadow: 0px 20px 30px 0px rgba(253, 24, 18, 0.251);
    filter: drop-shadow(20px 20px 50px rgba(253, 24, 18, 0.251));
    margin-right: 50px;
    width: 356.5px;
   margin-top: 100px;
height: 170px;
margin-bottom: 50px;
}
.services-box img {
 margin-top: -50px;
width: 100px;
height: 100px;
}
.services-box h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    text-align: center;
    float: left;
    width: 100%;
    padding: 0 38px;
}
.services-second-row {
    margin: 0 auto;
    overflow: hidden;
    width: 765px;
}
.traning-section {
    background: #181A1F;
    float: left;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    margin: 40px 0 0;
}
.traning-section h6 { 
    border-bottom: 2px solid #0E2B89;
    margin: 0 auto;
    overflow: hidden;
    width: 426px;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    padding-bottom: 15px;
}
.traning-section p {
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    padding: 15px 0 0;
    line-height: 30px;
    font-weight: 300;
    overflow: hidden;
    width: 690px;
}
.training-box-section {
    float: left;
    width: 100%;
}
.training-box {
    float: left;
    width: 33.3%;
    height: 346px;
}
.training-box img{
    width: 100%;
    height: 100%;
}

.training-text h6 { 
    margin: 0;
    padding: 20px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    color: #fff;
display: none;
}
.training-text {
    float: left;
    width: 100%;
    background: rgba(239, 238, 255, 0.15);
    margin-top: -76px;
    z-index: 9999;
    position: relative;
}
.meet-section {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
.meet-text {
    float: left;
    width: 100%;
}
.meet-text h6{
    border-bottom: 2px solid #0E2B89;
margin: 0 auto;
overflow: hidden;
width: 466px;
font-size: 50px;
font-weight: 300;
color: #292F39;
}
.meet-text p {
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 30px 0 0;
    line-height: 25px;
    font-weight: 300;
}
.meet-box {
float: left;
width: 390px;
text-align: center;
margin: 60px 0;
height: 350px;
}
.meet-box img { 
    box-shadow: 0px 20px 30px 0px rgba(164, 159, 159, 0.25);
    filter: drop-shadow(20px 20px 50px rgba(159, 159, 159, 0.25));
}
.meet-box p {
    color: #292F39;
    font-size: 18px;
    padding: 15px 0 5px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}
.meet-box small {
    text-align: center;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    color: #292F39;
}
.information-box {
    float: left;
    width: 100%;
    background: #181A1F;
    padding: 50px 0;
}
.info-text {
    float: left;
    width: 100%;
}
.info-text h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    border-bottom: 2px solid #0E2B89;
    width: 451px;
    padding-bottom: 10px;
    margin: 0;
    float: left;
}
.info-text p {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 20px 0;
}

.left-feild {
    float: left;
    width: 48%;
}
.right-feild {
    float: right;
    width: 48%;
}
.left-feild input {
    background: transparent;
    border: 1px solid #FD1812;
    width: 100%;
    margin: 20px 0;
    float: left;
    height: 50px;
    color: #BBB;
    padding: 0 20px;
    border-radius: 2px;
}
.right-feild input {
    background: transparent;
    border: 1px solid #FD1812;
    width: 100%;
    margin: 20px 0;
    float: left;
    height: 50px;
    color: #BBB;
    padding: 0 20px;
    border-radius: 2px;
}
.right-feild .textarea {
  background: transparent;
border: 1px solid #FD1812;
width: 100%;
margin: 20px 0;
float: left;
height: 240px;
color: #BBB;
padding: 20px 5px;
border-radius: 2px;
resize: none;
}
.left-feild label {
    margin: 0 0 -10px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    float: left;
    width: 100%;
}
.right-feild label {
    margin: 0 0 -10px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    float: left;
    width: 100%;
}
.info-form {
    float: left;
    width: 100%;
}
.submit-btn {
    text-align: center;
    width: 100%;
    float: left;
    background: #FD1812;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    height: 50px;
    line-height: 55px;
    border-radius: 3px;
}
/*index page css end*/
/*check box css start*/ 
.new {
    padding: 10px 0;
    float: left;
    width: 100%;
}
.form-group {
    display: block;
    margin: 18px 0;
    float: left;
    width: 100%;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
content: '';
-webkit-appearance: none;
background-color: transparent;
border: 2px solid #FD1812;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
padding: 10px;
display: inline-block;
position: relative;
vertical-align: middle;
cursor: pointer;
margin-right: 5px;
border-radius: 4px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #FD1812;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form-group label {
    color: #BBB;
    font-weight: 300;
}
/*check box css end*/

/*index page css end*/

/*all popups css start*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
max-width: 100%;
width: 80%;
position: relative;
margin: 10% auto;
padding: 0; 
background: #fff;
}

.close {
background: #fff;
line-height: 30px;
position: absolute;
right: -20px;
text-align: center;
top: -15px;
width: 34px;
height: 34px; 
border-radius: 50%;  
padding-top: 5px;
border: 4px solid #686868;
}
.close img {
width: 12px;
height: 13px;
margin: 1px 7px;
float: left;
}
.modal-body {
    float: left;
    width: 100%;
    background: #fff;
   max-height: 500px;
    padding: 10px;
    border-radius: 20px;
    overflow-y: auto;
}
.left-iner-body {
    float: left;
    width: 42%;
    margin-right: 30px;
}
.left-iner-body img {
    width: 100%;
}
.right-inner-body {
    float: right;
    width: 55%;
}
.right-inner-body p {
    font-size: 17px;
    float: left;
    width: 100%;
    margin: 0;
    line-height: 27px;
    font-weight: 300;
}
.right-inner-body p b {
    font-weight: 600;
    float: left;
    width: 100%;
    font-size: 22px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.right-inner-body p a {
    color: #FD1812;
}
.children-left-iner-body {
    float: left;
    width: 50%;
}
.children-left-iner-body img {
    width: 100%;
}
 
.children-right-inner-body {
    float: left;
    width: 40%;
    padding: 50px 0;
}
.children-right-inner-body p {
font-size: 17px;
float: left;
width: 100%;
margin: 0;
line-height: 25px;
font-weight: 300;
padding: 20px 0;
}
.children-right-inner-body p span {
float: left;
width: 100%;
font-size: 25px;
margin-bottom: 20px;
}
 
/*all popups css end*/

       


/*responsive css start here*/
@media only screen and (min-width: 300px) and (max-width: 767px) {
/*gallery responsive css start*/	
.container { 
    width: 90%;
}
.gallery-box1 { 
    width: 100%;
    margin-right: 0; 
    margin-bottom: 10px;
}
.photo-gallery { 
    width: 100%; 
} 
.photo-gallery img {
    width: 100%;
}
.video-gallery { 
    width: 100%; 
}
.video-gallery img {
    width: 100%;
}
.gallery-section3 img {
    width: 100%;
}
 
/*gallery responsive css ends*/	
/*principle page css start*/
.principle-box img {
    float: right;
    width: 100%;
    text-align: center;
    margin-top: 0;
}
.student-left-box {
    float: left;
    width: 100%;
}
.student-right-box {
    float: left;
    width: 100%;
}
.student-right-box h1 { 
    text-align: center;
}
.student-data li { 
    width: 100%; 
}
.vision-box { 
    width: 100%; 
    height: auto;
}
.vision-2nd-row { 
    width: 100%;
}
 
/*principle page css end*/
/*belt responsive css start*/	
.belt-box {
    float: none;
    width: 100%;
    text-align: center;
    background: #fff;
    margin-right: 80px;
    padding: 20px 0 0;
    margin-bottom: 30px;
    margin: 70px auto 0px;
}
.belt-text-box {
    width: 100%;
}
.last-belt-box {
    width: 100%;
}
.form-section { 
    width: 100%; 
}

/*belt responsive css ends*/	

/*Calendar&Schedule responsive css start*/	
.left-enlarg {
    float: left;
    width: 100%;
}
.right-enlarg {
    width: 100%; 
}
.parkland-box h4 a { 
    margin-top: -70px;
}

/*Calendar&Schedule responsive css ends*/	

/*popups responsive css start*/
.left-iner-body { 
    width: 100%; 
}
.right-inner-body { 
 width: 100%;
text-align: center;
padding: 0 10px;
}
.children-left-iner-body{
	   width: 100%;
}
.children-right-inner-body {
width: 90%;
margin: 0 auto;
overflow: hidden;
text-align: center;
padding: 0 !important;
}
/*popups responsive css end*/
/*home page responsive css start*/
.banner { 
    background-position: left;
    height: auto;
}
.caption h1 {
    font-size: 35px; 
    line-height: 55px;
    margin: 0; 
}
.welcome {
    font-size: 40px !important;
}
.caption p { 
    font-size: 17px; 
    margin: 0;
}
.about-box ul li { 
    width: 100%; 
}
.offer-section h6 { 
    width: auto; 
}

.services-box {
    float: none; 
    margin-right: 0;
    width: 80%; 
    height: 200px; 
    margin: 100px auto 50px !important;
}
.services-second-row { 
    width: 100%;
}
.traning-section h6 { 
    width: auto;
}
.traning-section p { 
    width: auto;
}
.training-box { 
    width: 100%; 
}
.meet-text h6 { 
    width: 80%; 
}
.meet-text p { 
    padding: 30px 40px 0; 
    width: 100%;
}
.meet-box { 
    width: 100%; 
}
.info-text h4 { 
    width: auto; 
}
.left-feild {
    float: left;
    width: 100%;
}
.right-feild {
    float: right;
    width: 100%;
}



/*home page responsive css end*/ 
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
/*gallery responsive css start*/	
.container { 
    width: 90%;
}
.gallery-box1 { 
    width: 100%;
    margin-right: 0; 
    margin-bottom: 10px;
}
 
 
/*gallery responsive css ends*/	

/*principle page css start*/
.principle-box img {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 0;
}

.vision-box { 
    width: 47%;
    height: 125px;
}
.student-right-box {
    float: left;
    width: 100%;
}
.student-left-box {
    float: left;
    width: 100%;
}
/*principle page css end*/
/*belt responsive css start*/	
.belt-box {
    float: left;
    width: 45%;
    text-align: center;
    background: #fff;
    margin-right: 80px;
    padding: 20px 0 0;
    margin-bottom: 30px;
    margin: 20px 15px;
}
.belt-text-box {
    width: 100%;
}
.last-belt-box {
  width: 50%;
}
.form-section { 
    width: 100%; 
}
.intent-section { 
    width: 460px;
}


/*belt responsive css ends*/	

/*Calendar&Schedule responsive css start*/	
 
.parkland-box h4 a { 
    margin-top: -70px;
}

/*Calendar&Schedule responsive css ends*/	

/*popups responsive css start*/
.left-iner-body { 
    width: 100%; 
}
.right-inner-body { 
 width: 100%;
text-align: center;
padding: 0 10px;
}
.children-left-iner-body{
	   width: 100%;
}
.children-right-inner-body {
width: 90%;
margin: 0 auto;
overflow: hidden;
text-align: center;
padding: 0 !important;
}
/*home page css start*/ 
.services-box { 
    margin-right: 30px;
    width: 44%; 
}
.services-first-row {
    float: none;
    width: 80%;
    margin: 0 auto;
}
.services-second-row {
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
.training-box {
    float: left;
    width: 50%;
    height: 346px;
}
.meet-box {
    float: left;
    width: 50%;
    text-align: center;
    margin: 60px 0;
    height: 350px;
}

/*home page css end*/

}
/*responsive css end here*/



