$themeColor: #fd1812;

$headerTopColor: #1e2631;
$headerNavColor: #1e2631;

$socialColor: #0e2b89;
$footerTopColor: #1e2631;
$footerBottomColor: #24272e;

$lightColor: #fff;
$bodyColor: #f5f1f1;



$mainFontFamily: 'Roboto', sans-serif;


$mainHolderWidth: 1670px;
