$themeColor: #fd1812;
$lightColor: #fff;
$blackColor: #000;
$bodyColor: #f5f1f1;

$themeDarkBlueColor: #1e2631;
$themeDarkBlueColor2: #181a1f;



$headerTopColor: $themeDarkBlueColor;
$headerNavColor: $themeDarkBlueColor;

$socialColor: #0e2b89;
$footerTopColor: $themeDarkBlueColor;
$footerBottomColor: #24272e;





$mainFontFamily: 'Roboto', sans-serif;


$mainHolderWidth: 1670px;


